{% extends 'b.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/s.css' %}">
{% endblock stylesheet %}
{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="{% static 'assets/img/logos/logo.png' %}" alt="..." /> Tms</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>

          </ul>
      </div>
  </div>
</nav>
{% endblock nav %}
{% block head %}{% endblock head %}
{% block n %}{% endblock n %}
{% block body %}
<style>
  .card-body {
    flex: 1 1 auto;
    padding: 5rem 1rem;
}
@media (min-width: 992px)
#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: black;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
</style>
<br><br>

  <div class="container">
    <br><br>
    <h1 class="text-center logo my-4">
      <a href="{% url 'index' %}">tms</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/form.html' %}
              <div class="p-2">
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            
              </div>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Create New account <a href="{%url 'signup'%}">Sign up </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}