{% load static %}


        <header class="masthead">
            <div class="container">
                
                <div class="masthead-subheading">مرحبا بكم</div>
                <div class="masthead-heading text-uppercase">ادارة المخالفات المرورية</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">تصفح المحتوى</a>
            </div>
        </header>
        <a >
                    
            {% if messages %} 
            {% for ms in messages %}
            <h1>
            
            <h2 > {{ms}}</h2>
                <a href="{% url 'new_car2'  %}" class = "p-5"> new car</a>
            </h1>
            {% endfor %} 
            {% endif %} 
            
        </a>